.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f9f3f3;
}


.slider-container2 {
    margin-top: 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide2 {
    flex: 0 0 100%;
    position: relative;
    text-align: center;
}

.slide2 img {
    width: 90%;
    height: 470px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image2 {
    display: block;
}
.slide-text {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: left;
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translateX(-50%);
    width: auto;
    height: 200px;
}

.text1 {
    font-weight: bold;
    color: #ff8f9c;
    font-size: 1.8rem;
}

.text2 {
    font-size: 3rem;
    color: #333;
    margin-top: 5px;
}

.text3 {
    font-size: 3rem;
    margin-top: 5px;
    color: #333;
}

.text4 {
    font-size: 1.5rem;
    margin-top: 5px;
    color: #787575;
}

.text5 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 5px 0 0 100px;
    color: #ff8f9c;
}

.text6 {
    font-size: 3rem;
    margin: 5px 0 0 100px;
    color: #333;
}

.text7 {
    font-size: 1.5rem;
    margin: 5px 0 0 100px;
    color: #787878;
}

.text8 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 5px 0 0 210px;
    color: #ff8f9c;
}

.text9 {
    font-size: 3rem;
    margin: 5px 0 0 210px;
    color: #333;
}

.text10 {
    font-size: 1.5rem;
    margin: 5px 0 0 210px;
    color: #787878;
}


.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@media (max-width: 850px) {
    .slide2 img {
        height: 80%;
    }

    .slide-text {
        top: 0%;
        left: 24%;
    }

    .text1 {
        font-size: 1.4rem;
    }

    .text2 {
        font-size: 2rem;
    }

    .text3 {
        font-size: 2rem;
    }

    .text4 {
        font-size: .8rem;
    }

    .text5 {
        font-size: 1.4rem;
    }

    .text6 {
        font-size: 2rem;
    }

    .text7 {
        font-size: .8rem;
    }

    .text8 {
        font-size: 1.4rem;
        margin-left: 180px;
    }

    .text9 {
        font-size: 2rem;
        margin-left: 180px;
    }

    .text10 {
        font-size: .8rem;
        margin-left: 180px;
    }
    .dots-container {
        margin-top: 0px;
    }
}

@media (max-width:550px) {
    .text1 {
        font-size: 1rem;
    }

    .text2 {
        font-size: 1.5rem;
    }

    .text3 {
        font-size: 1.5rem;
    }

    .text4 {
        font-size: .8rem;
    }

    .text5 {
        font-size: 1rem;
    }

    .text6 {
        font-size: 1.5rem;
    }

    .text7 {
        font-size: .8rem;
    }

    .text8 {
        font-size: 1rem;
        margin-left: 120px;
    }

    .text9 {
        font-size: 1.5rem;
        margin-left: 120px;
    }

    .text10 {
        font-size: .8rem;
        margin-left: 120px;
    }
}

@media (max-width:450px) {
    .text1 {
        font-size: .9rem;
    }

    .text2 {
        font-size: 1rem;
    }

    .text3 {
        font-size: 1rem;
    }

    .text4 {
        font-size: .7rem;
    }

    .text5 {
        font-size: .9rem;
    }

    .text6 {
        font-size: 1rem;
    }

    .text7 {
        font-size: .7rem;
    }

    .text8 {
        font-size: .9rem;
        margin-left: 90px;
    }

    .text9 {
        font-size: 1rem;
        margin-left: 90px;
    }

    .text10 {
        font-size: .7rem;
        margin-left: 90px;
    }
}
@media (max-width: 400px) {
    .text1 {
        font-size: .7rem;
    }

    .text2 {
        font-size: .8rem;
    }

    .text3 {
        font-size: .8rem;
    }

    .text4 {
        font-size: .6rem;
    }

    .text5 {
        font-size: .7rem;
    }

    .text6 {
        font-size: .8rem;
    }

    .text7 {
        font-size: .6rem;
    }

    .text8 {
        font-size: .7rem;
        margin-left: 70px;
    }

    .text9 {
        font-size: .8rem;
        margin-left: 70px;
    }

    .text10 {
        font-size: .6rem;
        margin-left: 70px;
    }
}
