.main-suggested-prod {
    padding: 100px;
}

@media (max-width:1024px) {
    .main-suggested-prod {
        padding: 80px;
    }
}
@media (max-width:850px) {
    .main-suggested-prod {
        padding: 50px;
    }
}
@media (max-width:650px) {
    .main-suggested-prod {
        padding: 20px;
    }
}
@media (max-width:400px) {
    .main-suggested-prod {
        padding: 0px;
    }
}